.content {
    flex: 10;
    padding: 80px;
    background-image: -webkit-linear-gradient();
}
.contact-section {
    position:relative;
    top: 100px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 142, 34, 0.24);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.85);
}
.contact-section h2 {
    color: #ffffff;
}
.contact-info p {
    margin: 10px 0;
    font-size: 18px;
    color: aliceblue;
}
.contact-form {
    margin-top: 20px;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    padding: 10px 20px;
    background-color: #0080ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #007ae8;
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}