.content {
    flex: 1;
}
.hero {
    position: relative;
    text-align: center;
    color: white;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-content {
    position: absolute;
    background: rgba(43, 141, 0, 0.22);
    width: 900px;
    height: 120px;
    padding: 20px;
    border-radius: 10px;
}
.hero h1 {
    font-size: 3rem;
    margin: 0;
}
.hero p {
    font-size: 1.5rem;
    margin-top: 10px;
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
    margin-top: auto;
}