@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

.executive-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.card-executive {
    position: relative;
    text-align: center;
    width: 153px;
    background: #ffffff2e;
    /* border-radius: 10px; */
    box-shadow: -9px 4px 8px rgba(0, 0, 0, 0.473);
    padding: 12px;
    transition: transform 2.4s;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
}

.card-executive:hover {
        transform: scale(1.05);
        background: rgba(43, 160, 0, 0.575);
    }

.executive-profile {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #006a09;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
}

.card-executive p {
    font-size: 0.7em;
    font-weight: bold;
    color: rgba(0, 48, 12, 0.99);
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
}

.card-body{
    transform: translateY(53px);
    animation: fadeInUp 3s ease-out forwards;
}

h1 h2 p {
    transition: transform 2.4s;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    content {
        flex: 1;
    }

    .executive-list {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 17px;
        flex-wrap: wrap;
    }

    .card-executive {
        position: relative;
        text-align: center;
        width: 133px;
        background: #ffffff2e;
        border-radius: 10px;
        box-shadow: -9px 4px 8px rgba(0, 0, 0, 0.473);
        padding: 3px;
        transition: transform 2.4s;
    }

    .card-executive:hover {
        transform: scale(1.05);
        background: #ffffffe1;
    }

    .executive-profile {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid #006a09;
    }

    .card-executive p {
        margin-top: 10px;
        font-size: 0.9em;
        font-weight: bold;
        color: rgba(44, 160, 0, 0.99);
    }
}

@media (max-width: 420px) and (min-width: 359px) {
    .card-executive {
        position: relative;
        text-align: center;
        width: 133px;
        background: #ffffff2e;
        border-radius: 10px;
        box-shadow: -9px 4px 8px rgba(0, 0, 0, 0.473);
        padding: 3px;
        transition: transform 2.4s;
    }
}

@media (max-width: 450px) and (min-width: 421px) {

    .card-executive {
        position: relative;
        text-align: center;
        width: 123px;
        background: #ffffff2e;
        border-radius: 10px;
        box-shadow: -9px 4px 8px rgba(0, 0, 0, 0.473);
        padding: 3px;
        transition: transform 2.4s;
    }

    .executive-profile {
        position: relative;
        width: 101px;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid #006a09;
    }

    .card-executive p {
        margin-top: 10px;
        font-size: 0.7em;
        font-weight: bold;
        color: rgba(44, 160, 0, 0.99);
    }
}