.schedule {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;        
    }

.schedule th, .schedule td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
        }

.schedule th {
    background-color: #000000;
    color: white;
        }

.schedule tr:nth-child(even) {
    background-color: #f2f2f2;
        }

.schedule-container {
    position: relative;
    top: 120px;
    text-align: center;
    margin: 40px 0;
    }

.schedule-title {
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
        }