@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  min-height: 100vh;
  background: url("../images/Kirimaya-Golf-Resort-Khao-Yaibackground.png") no-repeat center center fixed;
}

a {
  text-decoration: none;
  color: #333;
}

/* Animated Outer Glow */
@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgb(0, 70, 6);
  }
  70% {
    box-shadow: 0 0 20px rgb(0, 157, 13);
  }
  100% {
    box-shadow: 0 0 10px rgb(0, 239, 21);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  /* Adjust logo styling for mobile view */
  .logo {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }

  .logo img {
    display: flex;
    position: absolute;
    top: 70px; /* Adjust positioning */
    left: 8%; /* Align with navbar */
    width: 85px; /* Adjust size */
    height: auto;
    z-index: 1000;
  }

  /* Ensure the navbar layout accommodates the logo */
  .logo-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 2px 0;
  }

  /* Adjust navbar so that hamburger remains in view */
  .navbar {
    width: 100%;
    justify-content: space-between;
    padding: 31px;
  }

  /* Keep the hamburger icon on the right */
  .hamburger {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  /* Hide desktop menu and show hamburger */
  .desktop-menu {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}