
  /* Membership Tiers */
  .membership-tiers {
    padding: 50px;
    text-align: center;
  }
  
  .tiers-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .tier-card {
    background-color: #FFF;
    padding: 20px;
    border: 2px solid #D4AF37;
    border-radius: 10px;
    width: 30%;
  }
  
  /* Footer */
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer .social-links {
    margin-top: 10px;
  }
  
  /* Media Queries for Mobile Responsiveness */
  @media (max-width: 768px) {
    /* Navigation Bar */
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #000;
      position: absolute;
      top: 70px;
      left: 0;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .toggle-btn {
      display: flex;
    }
  
    /* Hero Section */
    .hero-content h1 {
      font-size: 36px;
    }
  
    .hero-content p {
      font-size: 18px;
    }
  
    /* Introduction Section */
    .intro {
      flex-direction: column;
      padding: 20px;
    }
  
    .intro-image img {
      width: 100%;
    }
  
    .intro-text {
      padding-left: 0;
      text-align: center;
      margin-top: 20px;
    }
  
    /* Membership Tiers */
    .tiers-container {
      flex-direction: column;
      align-items: center;
    }
  
    .tier-card {
      width: 80%;
      margin-bottom: 20px;
    }
  
    /* Footer */
    .footer {
      text-align: center;
      padding: 20px;
      background-color: #000000;
      color: white;
      position: relative;
      bottom: 0;
      width: 100%;
  }
  }